<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}{% endblock %}</title>
  </head>

  <body>

    {% block mainnav %}
    <nav>
      <ul>
        <li><a href="{% url 'webkiosk:food-list' %}">Food Menu</a></li>
        <li><a href="{% url 'webkiosk:food-create' %}">Add Food</a></li>
    </nav>
    {% endblock %}

    <header>
      <h1>GrubFood</h1>
      <p>Grub your food now!</p>
    </header>

    <main>
      {% block maincontent %}

      {% endblock %}
    </main>

  </body>

</html>
